*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
p3{
    font-size: 42px;
    font-weight: 700;
    color: #ccc;
    /* text-align: center; */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 330px;
    height: 200px;
    /* border: 1px solid black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dis{
    width: 330px;
    height: 150px;
    margin-top: -5px;
    background-color: #fff;
}
.dis p{
    font-size: 16px;
    position: absolute;
    margin-left: 20px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
}
.dis p1{
    color: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.8px;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    text-transform: capitalize;
}
.but{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    cursor: pointer;
}
.but a{
    text-decoration: none;
    margin-top: 13px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #252525;
    position: absolute;
    margin-left: 25px;
}

.main1{
    display: flex;
    justify-content: space-evenly;
}
.main2{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
}
@media screen and (max-width: 600px){
    .main1{
        display: grid;
        justify-content: center;
    }
    .main2{
        display: grid;
        justify-content: center;
    }
    p3{
        font-size: 22px;
    }
    .dis{
        margin-bottom: 20px;
    }
    .main2{
        margin-top: 0px;
    }
}